<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_CalculatorService" />
                <binding name="NetTcpBinding_HelloWorldService" />
                <binding name="NetTcpBinding_HelloWorldExService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8776/MyWCF/calculatorservice"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_CalculatorService"
                contract="Contract.CalculatorService" name="NetTcpBinding_CalculatorService">
                <identity>
                    <userPrincipalName value="chao.deng@laserfiche.com" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8778/MyWCF/helloworldservice"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_HelloWorldService"
                contract="Contract2.HelloWorldService" name="NetTcpBinding_HelloWorldService">
                <identity>
                    <userPrincipalName value="chao.deng@laserfiche.com" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8778/MyWCF/helloworldserviceex"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_HelloWorldExService"
                contract="Contract2.HelloWorldExService" name="NetTcpBinding_HelloWorldExService">
                <identity>
                    <userPrincipalName value="chao.deng@laserfiche.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>