<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name = "CalculatorEndpoint"
                address = "net.tcp://localhost:8776/MyWCF/calculatorservice"
                binding = "netTcpBinding"
                contract = "MyWCF.Contract.ICalculator"/>
      <endpoint name = "HelloWordEndpoint"
                address = "net.tcp://localhost:8778/MyWCF/helloworldservice"
                binding = "netTcpBinding"
                contract = "MyWCF.Contract.IHelloWorld"/>
      <endpoint name = "HelloWordExEndpoint"
                address = "net.tcp://localhost:8778/MyWCF/helloworldservice"
                binding = "netTcpBinding"
                contract = "MyWCF.Contract.IHelloWorldEx"/>
    </client>
  </system.serviceModel>
</configuration>