<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="MyWCF.Service.CalculatorService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8776/MyWCF/" />
            <add baseAddress="http://localhost:8777/MyWCF/" />
          </baseAddresses>
        </host>
        <endpoint address="calculatorservice"
                  binding="netTcpBinding"
                  contract="MyWCF.Contract.ICalculator" />
        <!--<endpoint address="MEX"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />-->
        <endpoint kind="mexEndpoint" />
      </service>
      <service name="MyWCF.Service.HelloWorldService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8778/MyWCF/" />
            <add baseAddress="http://localhost:8779/MyWCF/" />
          </baseAddresses>
        </host>
        <endpoint address="helloworldservice"
                  binding="netTcpBinding"
                  contract="MyWCF.Contract.IHelloWorld" />
        <endpoint address="helloworldserviceex"
                  binding="netTcpBinding"
                  contract="MyWCF.Contract.IHelloWorldEx" />
        <!--<endpoint address="MEX"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />-->
        <endpoint kind="mexEndpoint" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <!--<behavior name="MEX">
          <serviceMetadata />
        </behavior>
        <behavior name="MEXGET">
          <serviceMetadata httpGetEnabled="True"
                           httpGetUrl="MyMEXAddress" />
        </behavior>-->
        <behavior>
          <serviceMetadata httpGetEnabled="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
